* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.4;
    overflow: hidden;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #333;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}

.header {
    margin: 2rem;
    text-align: center;
}

.score {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem;
    font-size: 40px;
}

.text {
    font-size: 10px;
}

.player-score,
.computer-score {
    padding: 1rem;
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
}

.option {
    margin: 2rem;
    padding: 1rem;
    font-size: 50px;
    color: #fff;
    border: 2px solid #aaa;
}

.option:hover {
    border: 2px solid #fff;
}

.btn {
    display: none;
    padding: 1rem 2rem;
    background: grey;
    color: #fff;
    border-radius: 0.75rem;
    text-decoration: none;
}

.btn:hover {
    background: #111;
    color: grey;
}

.green-color {
    border: rgb(14, 138, 14);
    box-shadow: 0 0 10px rgb(4, 87, 4);
}

.red-color {
    border: rgb(223, 37, 24);
    box-shadow: 0 0 10px rgb(133, 8, 8);
}

.grey-color {
    border: rgb(92, 88, 88);
    box-shadow: 0 0 10px rgb(73, 71, 71);
}

@media all and (max-width: 400px) {
    .option {
        font-size: 25px;
    }
}

@media all and (max-width: 280px) {
    .option {
        font-size: 17px;
    }
}